{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
  <h1>Create an account</h1>
  <p>Please, sign up using the following form:</p>
  
  <form method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    
    <!-- Add a container for the company name field -->
    <div id="company_name_field" style="display: none;">
      <label for="company_name">Company Name</label>
      <input type="text" name="company_name" id="company_name">
    </div>

    <p><input type="submit" value="Create my account"></p>
  </form>

  <script>
    // Show the company name field only if the user type is "employer"
    document.getElementById('id_user_type').addEventListener('change', function() {
        var userType = this.value;
        var companyNameField = document.getElementById('company_name_field');
        
        // If the user selects "employer", display the company name field
        if (userType === 'employer') {
            companyNameField.style.display = 'block';
        } else {
            companyNameField.style.display = 'none';
        }
    });
  </script>

{% endblock %}
